html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #f4f6f9;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #0f172a;
  }
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media print {
  * {
    height: auto !important;
    overflow: visible !important;
  }
}